RADIO_DEVICE=/dev/ttyUSB0
RADIO_BAUDRATE=460800
BACKBONE_IF=wlan0
# id des Bluetooth-Adapters (aus `hci0` -> 0) fuer BLE-Commissioning durch
# matter-server. Der Pi hat nur hci0, daher 0; siehe README "BLE aktivieren".
BLUETOOTH_ADAPTER=0
